<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.androidautonotification">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/desert"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <service android:name=".MyMessagingService" />

        <receiver
            android:name=".MessageReadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.user.androidautonotification.ACTION_MESSAGE_READ" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MessageReplyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.user.androidautonotification.ACTION_MESSAGE_REPLY" />
            </intent-filter>
        </receiver>

        <service
            android:name=".NotficationsService"
            android:exported="false">

        </service>
    </application>

</manifest>